{% extends 'HanaInes.html.twig' %}

{% block title %}Information sur un abonnement{% endblock %}

{% block body %}

	<!-- Header section -->
	<header class="header-section">
		<ul class="main-menu">
			<a href="index.html" class="site-logo">
				<img src="{{asset('Front/img/logo.png')}}" alt="">
			</a>
			<li><a href="/Front/">Accueil</a></li>
            <li><a href="/Apropos.html">À propos</a></li>
            <li><a href="{{path('Read_Front_Salle')}}">Salles</a></li>
            <li><a href="/Cours/Read/Front">Activités</a></li>
            <li><a class="active" href="/Abonnement/Read_Front">Offres</a></li>
            <li><a href="/evenement/front">Evénements</a></li>
            <li><a href="{{ path('app_produit_afficher_front') }}">Boutique</a></li>
            <li><a href="/Front/contact.html">Contact</a></li>
			<li class="header-right">
				<div class="menu-right pull-right">
				<div class="hr-box">
					<div class="icon-nav">
						<ul>
							<li class="onhover-div mobile-search">
								<div><img src="{{asset('Front/assets/images/icon/search.png')}}" onclick="openSearch()"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-search" onclick="openSearch()"></i>
								</div>
								<div id="search-overlay" class="search-overlay">
									<div>
										<span class="closebtn" onclick="closeSearch()"
											title="Close Overlay">×</span>
										<div class="overlay-content">
											<div class="container">
												<div class="row">
													<div class="col-xl-12">
														<form>
															<div class="form-group">
																<input type="text" class="form-control"
																	id="exampleInputPassword1"
																	placeholder="Search a Product">
															</div>
															<button type="submit" class="btn btn-primary"><i
																	class="fa fa-search"></i></button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="onhover-div mobile-cart">
								<div><img src="{{asset('Front/assets/images/icon/cart.png')}}"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-shopping-cart"></i>
								</div>
								<ul class="show-div shopping-cart">
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="{{asset('Front/assets/images/fashion/product/1.jpg')}}"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="{{asset('Front/assets/images/fashion/product/2.jpg')}}"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="total">
											<h5>subtotal : <span>$299.00</span></h5>
										</div>
									</li>
									<li>
										<div class="buttons">
											<a href="cart.html" class="view-cart">view cart</a>
											<a href="#" class="checkout">checkout</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end -->

    <!-- Salle slider -->
    <div class="full-banner gym-parallax parallax p-0 ratio_square">
        <br>
        <br>
        <br>
        <a href="{{ path('Read_Front_Abonnement') }}" class="btn btn-primary mt-2" type="submit" style="text-align: center;">Return</a>
        <div class="section-t-space section-b-space gym-product">
		    {% for a in Abonnements %}
            <div class="container">
			    <div class="section-title text-center">
                    <h2>{{a.getNomA()}}</h2>
                </div>
                <br>
                <br>
                <table class="table" style="text-align: center;">
                    <tbody style="text-align: center; vertical-align: middle;">
                        <tr>
							<th>Type : </th>
							<td>
								{{a.getTypeA()}}
							</td>
						</tr>
						<tr>
                            <th>Description</th>
                            <td><p>{{a.getDescriptionA()|raw}}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{a.getPrixA()}} TND</td>
                        </tr>
                        <tr>
                            <th>Dans</th>
                            <td>
                                <ul>
                                    {% for s in a.getSalleA() %}
                                        <li>
                                        {{s.getNomS()}}, 
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<br>
				<br>
            </div>
			{% endfor %} 
        </div>
    </div>
    <!-- Salle slider end -->
{% endblock %}