{% extends 'baseFront.html.twig' %}

{% block title %}Liste des abonnements{% endblock %}

{% block body %}

	<!-- Header section -->
	<header class="header-section">
		<ul class="main-menu">
			<a href="index.html" class="site-logo">
				<img src="{{asset('Front/img/logo.png')}}" alt="">
			</a>
			<li><a href="index.html">Accueil</a></li>
			<li><a href="Apropos.html">À propos</a></li>
			<li><a href="{{path('Read_Front_Salle')}}">Salles</a></li>
			<li><a href="{{path ('FRead_Cours')}}">Activités</a></li>
			<li><a class="active" href="{{path('Read_Front_Abonnement')}}">Offres</a></li>
			<li><a href="Evénements.html">Evénements</a></li>
			<li><a href="boutique.html">Boutique</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li class="header-right">
				<div class="menu-right pull-right">
				<div class="hr-box">
					<div class="icon-nav">
						<ul>
							<li class="onhover-div mobile-search">
								<div><img src="{{asset('Front/assets/images/icon/search.png')}}" onclick="openSearch()"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-search" onclick="openSearch()"></i>
								</div>
								<div id="search-overlay" class="search-overlay">
									<div>
										<span class="closebtn" onclick="closeSearch()"
											title="Close Overlay">×</span>
										<div class="overlay-content">
											<div class="container">
												<div class="row">
													<div class="col-xl-12">
														<form>
															<div class="form-group">
																<input type="text" class="form-control"
																	id="exampleInputPassword1"
																	placeholder="Search a Product">
															</div>
															<button type="submit" class="btn btn-primary"><i
																	class="fa fa-search"></i></button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="onhover-div mobile-cart">
								<div><img src="{{asset('Front/assets/images/icon/cart.png')}}"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-shopping-cart"></i>
								</div>
								<ul class="show-div shopping-cart">
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="{{asset('Front/assets/images/fashion/product/1.jpg')}}"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="{{asset('Front/assets/images/fashion/product/2.jpg')}}"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="total">
											<h5>subtotal : <span>$299.00</span></h5>
										</div>
									</li>
									<li>
										<div class="buttons">
											<a href="cart.html" class="view-cart">view cart</a>
											<a href="#" class="checkout">checkout</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end -->

	<!-- Pricing section end -->
	<section class="pricing-section set-bg" data-setbg="/Front/img/haan.png">
		<div class="container">
			<div class="page-top-section set-bg section-title text-white text-center">
                <h2>Abonnements</h2>
			</div>
			<form class="d-none d-md-flex ms-1" id="search-form" action="{{ path('Find_Abonnement_Front') }}">
				<input class="form-control border-0.5" type="search"  name="q" placeholder="Rechercher..." value="{{ query }}">
				<a href="{{path('Read_Front_Abonnement')}}" type="submit" class="btn" style="color: white;">Return</a> 
			</form>
			<br>
			<br>
			<div class="row" id="search-results">
                {% for a in AbonnementsR %}
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-box">
                        <br>
						<h2>{{a.getPrixA()}} TND</h2>
						<p>{{a.getTypeA()}}</p>
                        <br>
                        <br>
                        <br>
                        <h2 class="text-white text-center">{{a.getNomA()}}</h2>
                        <br>
						<a href="{{path('Read_More_Front_Abonnement',{'id':a.id})}}" class="site-btn">Plus d'info</a>
                        <br>
                        <div class="cart-info cart-wrap">
                            <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button>
                        </div>
                        <br>
					</div>
				</div>
                {% endfor %}
			</div>
			<div id="search"></div>
		</div>
		<br>
		<br>
		<div class="d-flex justify-content-center">
			{% do Abonnements.setPageRange(2) %}
			{{ knp_pagination_render(Abonnements, 'abonnement/pagination.html.twig') }}
		</div>
	</section>
	<!-- Pricing section  -->

<script>
    $(function () {
        $('#search-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (data) {
                    $('#search-results').html(data);
                }
            });
        });
    });
</script>
{% endblock %}