{% extends 'base1.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{   produit.id }}</td>
            </tr>
            <tr>
                <th>NomProd</th>
                <td>{{  produit.getNomProd() }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{   produit.getDescription() }}</td>
            </tr>
            <tr>
                <th>getImage</th>
                <td>{{   produit.getImage() }}</td>
            </tr>
            <tr>
                <th>prix</th>
                <td>{{  produit.getPrix() }}</td>
            </tr>
            <tr>
                <th>nbr</th>
                <td>{{  produit.getNbrProds() }}</td>
            </tr>
           
        </tbody>
    </table>

    <a href="{{ path('app_produit_afficher') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }} 
{% endblock %}