<h1> Liste des evenements </h1>
<table border="1">
    <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Categorie</th>
    <th>Date</th>
    <th>Lieu</th>
    <th>Nbr participants</th>
    <th>Editer</th>
    </tr>
    {% for e in Evenements %}
    <tr>
        <td>
            {{e.getId_E()}}
        </td>
        <td>
            {{e.getNomE()}}
        </td>
        <td>
            {{e.getDescriptionE()}}
        </td>
        <td>
            {{e.getCatE()}}
        </td>
        <td>
            {{e.getDateE()}}
        </td>
        <td>
            {{e.getLieuE()}}
        </td>
        <td>
            {{e.getNbrParticipants()}}
        </td>
        <td>
            <a href="{{path('Delete_Evenement',{'id_e':e.id_e})}}">Remove</a>
            <a href="{{path('Update_Evenement',{'id_e':e.id_e})}}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{{path('Create_Evenement')}}">Create Evenement</a>
