{% extends 'baseFront.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
   
    <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<ul class="main-menu">
			<a href="index.html" class="site-logo">
				<img src={{ asset("Front/img/logo.png") }} alt="">
			</a>
			<li><a href="index.html">Accueil</a></li>
			<li><a href="Apropos.html">À propos</a></li>
			<li><a href="salles.html">Salles</a></li>
			<li><a href="Activités.html">Activités</a></li>
			<li><a href="offres.html">Offres</a></li>
			<li><a class="active" href="Evénements.html">Evénements</a></li>
			<li><a href="boutique.html">Boutique</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li class="header-right">
				<div class="menu-right pull-right">
				<div class="hr-box">
					<div class="icon-nav">
						<ul>
							<li class="onhover-div mobile-search">
								<div><img src="assets/images/icon/search.png" onclick="openSearch()"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-search" onclick="openSearch()"></i>
								</div>
								<div id="search-overlay" class="search-overlay">
									<div>
										<span class="closebtn" onclick="closeSearch()"
											title="Close Overlay">×</span>
										<div class="overlay-content">
											<div class="container">
												<div class="row">
													<div class="col-xl-12">
														<form>
															<div class="form-group">
																<input type="text" class="form-control"
																	id="exampleInputPassword1"
																	placeholder="Search a Product">
															</div>
															<button type="submit" class="btn btn-primary"><i
																	class="fa fa-search"></i></button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="onhover-div mobile-cart">
								<div><img src="assets/images/icon/cart.png"
										class="img-fluid blur-up lazyload" alt="">
									<i class="ti-shopping-cart"></i>
								</div>
								<ul class="show-div shopping-cart">
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="assets/images/fashion/product/1.jpg"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="media">
											<a href="#"><img class="me-3"
													src="assets/images/fashion/product/2.jpg"
													alt="Generic placeholder image"></a>
											<div class="media-body">
												<a href="#">
													<h4>item name</h4>
												</a>
												<h4><span>1 x $ 299.00</span></h4>
											</div>
										</div>
										<div class="close-circle">
											<a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</li>
									<li>
										<div class="total">
											<h5>subtotal : <span>$299.00</span></h5>
										</div>
									</li>
									<li>
										<div class="buttons">
											<a href="cart.html" class="view-cart">view cart</a>
											<a href="#" class="checkout">checkout</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</header>
	<div class="clearfix"></div>
	<!-- Header section end -->
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg={{ asset("Front/img/header-bg/3.jpg")}}>
		<div class="container">
			<h2>Evenement</h2>
		</div>
	</section>
	<!-- Page top section end -->

	<!-- Blog section -->
	<section class="blog-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">

				 {% for event in evenements %}

					<div class="blog-item">
					
						<img src="{{ asset("uploads/evenement/") }}{{ event.getImage() }}" style="width:70%">
						<h2>{{event.getNomE()}}  </h2>
						
						<p>DESCRIPTION : {{event.getDescriptionE()}}</p>
						
						<div class="site-btn">
						<a href="{{ path('app_evenement_afficher_blog', {'id': event.id }) }}"</a>Read More
						
						</div>
						
					</div>
									{% else %}
                <h3>no records found</h3>
        {% endfor %}
				</div>
				<div class="col-lg-4 col-md-7 col-sm-9 sidebar">
					<div class="widget-area">
						<form class="search-widget">
							<input type="text" placeholder="Search">
							<button><img src="img/icons/search.png" alt=""></button>
						</form>
					</div>
					<div class="widget-area">
						<h2 class="widget-title">Categories</h2>
						<ul>
						 {% for cat in CategorieEvenements %}
							<li><a href="">{{ cat.getNomCatE() }}</a></li>
							{% else %}
                <h3>no records found</h3>
        {% endfor %}
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	<!-- Call To Section Begin -->
	<section class="callto-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="callto-text">
						<h2>Come & Train With Us</h2>
						<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a href="#" class="primary-btn callto-btn"><font color="#FFFFFF">Join Now</font></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Call To Section End -->
	<!-- Footer Section Begin -->
	<footer class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
						<div class="col-md-9 align-content-center">
							<ul class="footer-menu">
								<li><a href="">Accueil</a></li>
								<li><a href="">À propos de nous</a></li>
								<li><a href="">Salles</a></li>
								<li><a href="">Activités</a></li>
								<li><a href="">Offres</a></li>
								<li><a href="">Evénements</a></li>
								<li><a href="">Contact</a></li>
							</ul>
						</div>
						<br>
                        <div class="social-links">
							<a href="#"><i class="fa fa-email"></i></a>
							<a href="#"><i class="fa fa-phone"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
						</div>
						<br>
						<div class="reserved">
							<p>
								<font color="#FFFFFF">
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by SAYHII</a>
								</font>
							</p>
						</div>
                    </div>
                </div>
			</div>
        </div>
    </footer>
    <!-- Footer Section End -->
	
    <!-- tap to top -->
    <div class="tap-top gradient-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->

	
		</script>	
{% endblock %}
