{% extends 'baseBack.html.twig' %}


{% block title %}Liste des salles{% endblock %}

{% block body %}
<br>
<br>
<h1 style="text-align: left;" >Liste des salles</h1>
<br>
<table class="table" style="text-align: center;">
    <tr style="text-align: center; vertical-align: middle;">
        <th>ID</th>
        <th>Nom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Périmetre</th>
        <th>Abonnement disponible</th>
        <th>Editer</th>
    </tr>
    {% for s in Salles %}
    <tr style="text-align: center; vertical-align: middle;">
        <td>
            {{s.getId()}}
        </td>
        <td>
            Go Gym {{s.getNomS()}}
        </td>
        <td>
        +216
            <span>{{ s.getTelS()[0:2] }} </span> 
            <span>{{ s.getTelS()[2:3] }} </span> 
            <span>{{ s.getTelS()[5:8] }} </span>
        </td>
        <td>
            {{s.getEmailS()}}
        </td>
        <td>
            {{s.getAdresseS()}}, {{s.getVilleS()}}
        </td>
        <td>
            {{s.getVilleS()}}
        </td>
        <td>
            {{s.getPerimetreS()}} m²
        </td>
        <td>
            <ul>
                {% for a in s.getAbonnements() %}
                    <li>
                    {{a.getNomA()}}
                    </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <div style="text-align: center;">
<<<<<<< Updated upstream
                <a href="{{path('Update_Salle',{'id':s.id})}}" class="btn btn-primary" type="submit" > Modifier </a>
                <br>
                <br>
                <a href="{{path('Delete_Salle',{'id':s.id})}}" class="btn btn-primary" type="submit" > Supprimer </a>
=======
                <a href="{{path('Update_Salle',{'id':s.id})}}" class="btn btn-primary mt-2" type="submit" > Modifier </a>
                <a href="{{path('Delete_Salle',{'id':s.id})}}" class="btn btn-primary mt-2" type="submit" > Supprimer </a>
>>>>>>> Stashed changes
                <br>
            </div>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4" style="text-align: center;">no records found</td>
    </tr>
    {% endfor %}
</table>
<div style="text-align: center;">
    <br>
<<<<<<< Updated upstream
    <a href="{{path('Create_Salle')}}" class="btn btn-primary" type="submit" style="text-align: center;">Ajouter un salle</a>
    <br>
    <br>
    <a href="{{path('Create_Abonnement')}}" class="btn btn-primary" type="submit" style="text-align: center;">Ajouter un abonnement</a>
=======
    <a href="{{path('Create_Salle')}}" class="btn btn-primary mt-2" type="submit" style="text-align: center;">Ajouter un salle</a>
    <br>
    <a href="{{path('Create_Abonnement')}}" class="btn btn-primary mt-2" type="submit" style="text-align: center;">Ajouter un abonnement</a>
>>>>>>> Stashed changes
    <br>
    <br>
</div>
{% endblock %}