<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dashboard GoGym</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/Backlib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Backlib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/Back/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/Back/css/style.css" rel="stylesheet">

    {# Style HANA #}
    <style>
    .checkboxes {
    text-align:left;
    }

    .checkboxes input{
    margin: 0px 0px 0px 0px;
    }

    .checkboxes label{
    margin: 0px 30px 0px 3px;
    }
    
    ul {
        list-style: none; /* enlever les points */
        text-align: center; /* centrer la liste */
    }
    
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <!-- JS Map HANA -->
    {% block jsmaphana %}
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin="" ></script>
        <script>

            const longitude_s = document.getElementById("salle_longitude_s");
            const latitude_s = document.getElementById("salle_latitude_s");

            const map = L.map("map").setView([36.70365959719456, 10.17818283871446], 7);
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

            if (longitude_s.value != "") {
                L.marker([longitude_s.value, latitude_s.value])
                .addTo(map)
                .bindPopup("Bienvenue")
                .openPopup();
            }
            // add marker on click
            map.on("click", addMarker);

            function addMarker(e) {
                map.eachLayer((layer) => {
                if (layer["_latlng"] != undefined) layer.remove();
                });
            
                // Add marker to map at click location
                const markerPlace = document.querySelector(".marker-position");
                
                // markerPlace.textContent = new marker: ${e.latlng.lat}, ${e.latlng.lng};
                const marker = new L.marker(e.latlng, { draggable: true }).addTo(map);

                // event remove marker
                marker.on("popupopen", removeMarker);

                // event draged marker
                marker.on("dragend", dragedMaker);
                longitude_s.value = e.latlng.lat;
                latitude_s.value = e.latlng.lng;
            }

            const buttonRemove = '<button type="button" class="remove"></button>';

            // remove marker
            function removeMarker() {
                const marker = this;
                const btn = document.querySelector(".remove");
                btn.addEventListener("click", function () {
                const markerPlace = document.querySelector(".marker-position");
                markerPlace.textContent = "goodbye marker";
                map.removeLayer(marker);
                });
            }

            // draged
            function dragedMaker() {
                const markerPlace = document.querySelector(".marker-position");
                markerPlace.textContent = `change position: ${this.getLatLng().lat}, ${
                this.getLatLng().lng
                }`;
            }

        </script>
    {% endblock %}
    <!-- JS Map HANA end-->
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
       <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>GOGYM</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{{ asset('back/img/user.jpg') }}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Yessine Jarray</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <!-- <div class="nav-item dropdown">-->

                         

                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Gerer Produit</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('app_produit_new')}}" class="dropdown-item">Ajouter Produit</a>
                            <a href="{{path ('app_produit_afficher')}}" class="dropdown-item">Liste des Produits</a>
                        </div>
                         <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Categorie Produit</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('app_categorie_new')}}" class="dropdown-item">Ajouter Categorie Produit</a>
                            <a href="{{path ('app_categorie_index')}}" class="dropdown-item">Liste Des Categories Produits </a>
                        </div>


                          <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Gerer Evenement</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('app_evenement_new')}}" class="dropdown-item">Ajouter Evenement</a>
                            <a href="{{path ('app_evenement_afficher')}}" class="dropdown-item">Liste Des Evenements </a>
                        </div> 
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Categorie Evenement</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('app_categorieE_new')}}" class="dropdown-item">Ajouter Categorie Evenement</a>
                            <a href="{{path ('app_categorieE_index')}}" class="dropdown-item">Liste Categorie Evenement </a>
                        </div>
                    </div>     
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Abonnement</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('Create_Abonnement')}}" class="dropdown-item">Ajout</a>
                            <a href="{{path ('Read_Back_Abonnement')}}" class="dropdown-item">Liste</a>
                        </div>
                    </div>                
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Salle</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('Create_Salle')}}" class="dropdown-item">Ajout</a>
                            <a href="{{path ('Read_Back_Salle')}}" class="dropdown-item">Liste</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Cours</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('Create_Cours')}}" class="dropdown-item">Ajout</a>
                            <a href="{{path ('BRead_Cours')}}" class="dropdown-item">Liste</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Reservation</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="{{path ('Create_Reservation')}}" class="dropdown-item">Ajout</a>
                            <a href="{{path ('BRead_Reservation')}}" class="dropdown-item">Liste</a>
                        </div>
                    </div>
                </div>
               
                   
                   <!--  </div> -->
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/Back/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Yessine send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/Back/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Yessine send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/Back/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Yessine send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    {# <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notification</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div> #}


                    {# TE3BA ENNESS #}
                    {# <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                             <span class="d-none d-lg-inline-flex">Notifications{% if numUnread > 0 %} <span class="badge badge-danger">{{ numUnread }}</span>{% endif %}</span>
                        </a>
                             <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                         {% for notification in notifications %}
                              <a href="{{ path('notification_view', { 'id': notification.id }) }}" class="dropdown-item"> hedha COMMENTTTTTTTTTT
                              <a href="{{ path('notification_read', { 'id': notification.id }) }}" class="dropdown-item">Mark as read</a>

                            <h6 class="fw-normal mb-0">{{ notification.getMessage }}</h6>
                         <small>{{ notification.getCreatedAt|date('Y-m-d H:i:s') }}</small>
                         </a>
                         <hr class="dropdown-divider">
                           {% endfor %}
                                 <a href="{{ path('notification_list') }}" class="dropdown-item text-center">See all notifications</a>
                             </div>
                    </div>
                    #}
                   <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-bell me-lg-2"></i>
        <span class="d-none d-lg-inline-flex">Notifications</span>
                {% set currentUser = app.user %}
                {% set unreadNotificationsCount = currentUser.unreadNotificationsCount %}

        {% if unreadNotificationsCount > 0 %}
            <span class="badge bg-danger rounded-pill ms-1">{{ unreadNotificationsCount }}</span>
        {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
        {# {% if app.user.notifications|length == 0 %}
            <a href="#" class="dropdown-item text-center">No notifications</a>
        {% else %} #}
            {% for n in notification %}
                <a href="{{ path('notification_read', { 'id': n.id }) }}" class="dropdown-item{% if not n.read %} fw-bold{% endif %}">
                    <h6 class="fw-normal mb-0">{{ n.title }}</h6>
                    <p class="mb-0">{{ n.message }}</p>
                    <small class="text-muted">{{ n.createdAt|date('Y-m-d H:i:s') }}</small>
                </a>
                <hr class="dropdown-divider">
            {% endfor %}
            <a href="#" class="dropdown-item text-center">See all notifications</a>
        {# {% endif %} #}
    </div>
</div>
                   
                   
                   
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/Back/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Yessine Jarray</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Go Gym</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Back/lib/chart/chart.min.js"></script>
    <script src="/Back/lib/easing/easing.min.js"></script>
    <script src="/Back/lib/waypoints/waypoints.min.js"></script>
    <script src="/Back/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Back/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/Back/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/Back/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/Back/js/main.js"></script>
</body>

</html>