{% extends 'base1.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for categorieEvenement in categories %}
            <tr>
                <td>{{ categorieEvenement.id }}</td>
                                <td>{{ categorieEvenement.getNomCatE }}</td>


                <td>
                    <a href="{{ path('app_categorieE_show', {'id': categorieEvenement.id}) }}">show</a>
                    <a href="{{ path('app_categorieE_edit', {'id': categorieEvenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorieE_new') }}">Create new</a>
{% endblock %}