<h1> Liste des categories des evenements </h1>
<table border="1">
    <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Editer</th>
    </tr>
    {% for cat_e in CategorieEvenements %}
    <tr>
        <td>
            {{cat_e.getId_Cat_E()}}
        </td>
        <td>
            {{cat_e.getNomCatE()}}
        </td>
        <td>
            <a href="{{path('Delete_CategorieEvenement',{'id_cat_e':cat_e.id_cat_e})}}">Remove</a>
            <a href="{{path('Update_CategorieEvenement',{'id_cat_e':cat_e.id_cat_e})}}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{{path('Create_CategorieEvenement')}}">Create Categorie Evenement</a>
