{% extends 'baseBack.html.twig' %}

{% block body %}
<div class="bg-light rounded h-100 p-4">
                            <h1 class="mb-4">Liste des utilisateurs</h1>
                            <table align="left" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prenom</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Modifier</th>
                                        <th scope="col">Password</th>
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for u in Users %}
                                        <th scope="row">{{u.getId()}}</th>
                                        <td>{{u.getNom()}}</td>
                                        <td>{{u.getPrenom()}}</td>
                                        <td>{{u.getUsername()}}</td>
                                        <td>{{u.getEmail()}}</td>
                                        
                                    <td>
                                     <a href="{{path('Delete_User',{'id':u.id})}}">Remove</a>
                                     <a href="{{path('Update_User',{'id':u.id})}}">Update</a>
                                     </td>    
                                        <td>{{u.getPassword()}}</td>
                                    </tr>
                                   
                                   
                                </tbody>
                                 {% endfor %}
                            </table>
                            <br>
                            <a href="{{path('Create_User')}}">Create Utilisateur </a>
                        </div>



{% endblock %}