<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#f0f2ea; margin:0; padding:0; color:#333333;">

    <table width="100%" bgcolor="#f0f2ea" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td style="padding:40px 0;">
                    <!-- begin main block -->
                    <table cellpadding="0" cellspacing="0" width="608" border="0" align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <!-- begin wrapper -->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="8" height="4" colspan="2" style="background:url(http://demo.artlance.ru/email/shadow-top-left.png) no-repeat 100% 100%;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td height="4" style="background:url(http://demo.artlance.ru/email/shadow-top-center.png) repeat-x 0 100%;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="8" height="4" colspan="2" style="background:url(http://demo.artlance.ru/email/shadow-top-right.png) no-repeat 0 100%;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-left-top.png) no-repeat 100% 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td colspan="3" rowspan="3" bgcolor="#FFFFFF" style="padding:0 0 30px;">
                                                    <!-- begin content -->
                                                    <p style="margin:0 30px 33px;; text-align:center; text-transform:uppercase; font-size:24px; line-height:30px; font-weight:bold; color:#484a42;">
                                                        Participation
                                                    </p>


                                                    <!-- begin Course -->
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                            <tr valign="top">
                                                                <td width="30">
                                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                                </td>
                                                                <td>
                                                                            <h1 class="text-center">Reservation pour le cours {{ Reservation.cours }} est effectuée </h1>

                                                        <center> <a style="display:block; margin:0 0 14px;" ><img class="card-img-top" src="{{ absolute_url(asset('uploads/Arena.png')) }}" alt="" style="width:50%;"></a></center>
                                                        <p style=" font-size:14px; line-height:22px; font-weight:bold; color:#333333; margin:0 0 5px;"><a  style="color:#6c7e44; text-decoration:none;">{{ Reservation.cours }}</a></p>

                                                                </td>


                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <h2 style="color: #000000;  font-family: sans-serif; font-weight: 400; line-height: 1.4;  margin: 0;  margin-bottom: 30px; text-align: center; font-size: 25px; font-weight: 300;">
                                                        <p class="block">
                                                             We are pleased to announce that You have Participated in  <strong>{{ Reservation.cours }}</strong> Course.
                                                            That will 
                                                            Get started on {{ Reservation.date | date }}.
                                                        </p>
                                                        We invite you to view the new Course and let us know your thoughts.
                                                        For any questions, feedback or comments, please E-mail us.

                                            


                                                    </h2>
                                                    <!-- /end Course -->
                                                    <p style="margin:0; border-top:2px solid #e5e5e5; font-size:5px; line-height:5px; margin:0 30px 29px;">&nbsp;</p>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                            <tr valign="top">
                                                                <td width="30">
                                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                                </td>
                                                                <td>
                                                                    <p style="margin:0 0 4px; font-weight:bold; color:#333333; font-size:14px; line-height:22px;">Arena.</p>
                                                                    <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
                                                                        <!--
                                                                    400005 Russian Federation, Volgograd, prospekt Lenina 56--><br>
                                                                        Contact: Arena@outlook.fr<br>
                                                                        Website: <a href="http://127.0.0.1:8000/tournois/front" style="color:#6d7e44; text-decoration:none; font-weight:bold;">www.Arena.com</a>
                                                                    </p>
                                                                </td>
                                                                <td width="30">
                                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                                </td>
                                                                <td width="120">

                                                                    <a href="http://127.0.0.1:8000/tournois/front" style="color:#6d7e44; text-decoration:none;">Visit website</a><br>
                                                                    </p>
                                                                </td>
                                                                <td width="30">
                                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end content -->
                                                </td>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-right-top.png) no-repeat 0 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td width="4" style="background:url(http://demo.artlance.ru/email/shadow-left-center.png) repeat-y 100% 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="4" style="background:url(http://demo.artlance.ru/email/shadow-right-center.png) repeat-y 0 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-left-bottom.png) repeat-y 100% 100%;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-right-bottom.png) repeat-y 0 100%;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-corner-left.png) no-repeat 100% 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-left.png) no-repeat 100% 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-center.png) repeat-x 0 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-right.png) no-repeat 0 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                                <td width="4" height="4" style="background:url(http://demo.artlance.ru/email/shadow-bottom-corner-right.png) no-repeat 0 0;">
                                                    <p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end wrapper-->
                                    <p style="margin:0; padding:34px 0 0; text-align:center; font-size:11px; line-height:13px; color:#333333;">
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end main block -->
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>